* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colores */
  --PrimaryColor: #032d46;
  --PrimaryColor-hover: #04446a;
  --font-button-color: #ffffff;
  --light-grey: #ebebeb;
  --light-green: #e9fbd8;
  --lightGreen-hover: #adcc90;
  --light-yellow: #fff1cc;
  --lightYellow-hover: #f3d78a;
  --light-red: #ffe2f0;
  --lightRed-hover: #f8bad8;

  --Title-font-family: "Baloo Da 2";
  --text-font-family: "quicksand";
}

body {
  font-family: var(--text-font-family);
  width: 100%;
  /* width: 70%;
  padding: 0;
  margin: 0 15%; */
}

h1 {
  font-family: var(--Title-font-family);
  font-weight: 800;
  font-size: 40px;
}

h2,
h3 {
  font-family: var(--Title-font-family);
}

h1,
h2,
h3,
p {
  color: var(--PrimaryColor);
}

header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1;
  backdrop-filter: blur(0.6rem);
}

.container_input_search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.input-search {
  border: none;
  border-radius: 1rem;
  width: 60%;
  padding: 10px;
  background-color: var(--light-grey);
}

.input-buttonSearch {
  width: 40%;
  border: none;
  border-radius: 1rem;
  padding: 10px;
  color: var(--font-button-color);
  background-color: var(--PrimaryColor);
}

.input-buttonSearch:hover {
  background-color: var(--PrimaryColor-hover);
}

.main-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.main-section img {
  width: 250px;
}
.container-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
  text-align: center;
}

.container-description p {
  font-size: 16px;
}

.section-mealsFilters{
  padding: 1rem;
}

.subtitle-h2 {
  font-size: 30px;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.section-mealsFilters button {
  width: 300px;
  height: 45px;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 18px;
  font-family: var(--Title-font-family);
  margin: 5px;
}

.container-ButtonsFilters {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem 3rem 0rem;
}

.button-breakfast {
  border: none;
  background-color: var(--light-green);
}

.button-breakfast:hover {
  background-color: var(--lightGreen-hover);
}

.button-lunch {
  border: none;
  background-color: var(--light-yellow);
}

.button-lunch:hover {
  background-color: var(--lightYellow-hover);
}

.button-dessert {
  border: none;
  background-color: var(--light-red);
}

.button-dessert:hover {
  background-color: var(--lightRed-hover);
}

.pressed {
  border: 2px solid #04446a;
}

.container-img {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 1rem;
}

.container-img img {
  height: 300px;
}

.container-img:hover {
  box-shadow: 5px 5px 15px 1px rgba(201, 201, 201, 0.74);
}

.container-meals {
  /* display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 15px;
  align-items: center;
  width: 100%; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center ;
}

.container-meals div {
  width: 300px;
  text-align: center;
  margin-bottom: 1rem;
}

.title-meals {
  margin-top: 1rem;
  line-height: 1.5rem;
}

.section-mealsFiltersByIngredients {
  margin: 1rem;
}

.container-ButtonsIngredients {
   display: flex;
   flex-flow: row ;
  justify-content: space-around; 
}

.button-ingredient {
  border: none;
  background-color: var(--light-red);
  border-radius: 50%;
}

.button-ingredient img{
  width: 60px;
}

.button-ingredient:hover {
  background-color: var(--lightYellow-hover);
  box-shadow: 5px 5px 15px 1px rgba(255, 240, 156, 0.74);
}

.conteiner-MainIngredientMeal {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 10px;
  row-gap: 15px;
}

/* Estilos para tablets */
@media screen and (min-width: 601px) and (max-width: 1439px) {
  .container_input_search {
    justify-content: flex-end;
  }
  
  .input-search {
    width: 400px;
  }

  .input-buttonSearch {
    margin-left: 10px;
    width: 100px;
  }

  .main-section {
    display: flex;
    flex-flow: row;
  }

  .container-description p {
    font-size: 20px;
  }
}

/* Estilos para desktop */
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  h1{
    font-size: 50px;
  }

  .container_input_search {
    justify-content: flex-end;
  }

  .input-buttonSearch {
    margin-left: 10px;
    width: 100px;
  }

  .input-search {
    width: 400px;
  }

  .container-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .container-description p {
    font-size: 20px;
  }

  .main-section img {
    width: 300px;
  }
}
